[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
gunicorn = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
plotly = "*"
streamlit = "*"
altair = "*"

[dev-packages]
black = "*"
pre-commit = "*"

[requires]
python_version = "3.12"

[tool.black]
line-length = 88
target-version = ['py37']
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''
