[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
pandas = "*"
numpy = "*"
plotly = "*"
altair = "*"
matplotlib = "*"
seaborn = "*"
streamlit = "*"
folium = "*"
streamlit-folium = "*"
branca = "*"
shapely = "*"
ipykernel = "*"
watchdog = "*"

[dev-packages]
pip-check-reqs = "*"

[requires]
python_version = "3.13"
